<div class="student-header-container">
    <h2>Students</h2>
    <button mat-button mat-flat-button color="primary" (click)="openDialog(null)">
        New Student
    </button>
</div>

<div class="tableContainer mat-elevation-z2">
    <table mat-table aria-label="Student list" [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let element">
                <a>{{ element.firstName }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element">
                <a>{{ element.lastName }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>User Name</th>
            <td mat-cell *matCellDef="let element">
                <a>{{ element.userName }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">
                <a>{{ element.age }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="career">
            <th mat-header-cell *matHeaderCellDef>Career</th>
            <td mat-cell *matCellDef="let element">
                <a>{{ element.career }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button title="Edit" (click)="edit(element)">
                    <mat-icon color="warn">edit</mat-icon>
                </button>
                <button mat-icon-button title="Delete" (click)="delete(element)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row class="" *matRowDef="let row; columns: displayedColumns" (click)="selected(row)"></tr>
    </table>
</div>